[submodule "themes/hugo-theme-cactus"]
	path = themes/cactus
	url = https://github.com/monkeyWzr/hugo-theme-cactus.git
[submodule "themes/hugo-video"]
	path = themes/hugo-video
	url = https://github.com/martignoni/hugo-video.git
[submodule "themes/wisdom"]
	path = themes/wisdom
	url = https://github.com/maxrodrigo/hugo-theme-wisdom
