<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="vi">
    <meta name="language" content="Vietnamese">
    <title>{{ if .IsPage }} {{ .Title }} | {{ end }}{{ .Site.Title }}</title>
    <link rel='canonical' href='{{ .Permalink }}'>
    
    <!-- SEO Meta Tags -->
    {{ with .Description }}
    <meta name="description" content="{{ . }}">
    {{ else }}
    {{ with .Site.Params.description }}
    <meta name="description" content="{{ . }}">
    {{ end }}
    {{ end }}
    
    {{ with .Params.keywords }}
    <meta name="keywords" content="{{ delimit . ", " }}">
    {{ end }}
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:title" content="{{ if .IsPage }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}">
    {{ with .Description }}
    <meta property="og:description" content="{{ . }}">
    {{ else }}
    {{ with .Site.Params.description }}
    <meta property="og:description" content="{{ . }}">
    {{ end }}
    {{ end }}
    {{ with .Params.image }}
    <meta property="og:image" content="{{ . | absURL }}">
    {{ end }}
    <meta property="og:locale" content="vi_VN">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    {{ if .IsPage }}
    <meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
    <meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">
    {{ with .Params.categories }}
    {{ range first 1 . }}
    <meta property="article:section" content="{{ . }}">
    {{ end }}
    {{ end }}
    {{ with .Params.tags }}
    {{ range . }}
    <meta property="article:tag" content="{{ . }}">
    {{ end }}
    {{ end }}
    {{ end }}
    
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="{{ .Permalink }}">
    <meta name="twitter:title" content="{{ if .IsPage }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}">
    {{ with .Description }}
    <meta name="twitter:description" content="{{ . }}">
    {{ else }}
    {{ with .Site.Params.description }}
    <meta name="twitter:description" content="{{ . }}">
    {{ end }}
    {{ end }}
    {{ with .Params.image }}
    <meta name="twitter:image" content="{{ . | absURL }}">
    {{ end }}
    {{ .Scratch.Set "colortheme" "white"}}
    {{ if .Site.Params.Colortheme }}
    {{ .Scratch.Set "colortheme" .Site.Params.Colortheme }}
    {{ end }}
    {{ $colortheme := .Scratch.Get "colortheme" }}

    {{- $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed" "enableSourceMap" "true") -}}
    {{- $styles := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "scss/style.scss" . | css.Sass
    $options | resources.Fingerprint "sha512" }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}">

    <!-- Custom CSS -->
    {{ range .Site.Params.css }}
    <link rel="stylesheet" href="{{ . | absURL }}"> {{ end }}
    {{ `
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    ` | safeHTML }}
    <style>
        body {
            font-family: 'IBM Plex Mono', monospace !important;

        }

        h1,
        .h1 {
            margin-top: 1rem !important;
        }
    </style>
    {{ partial "favicon.html" . }}
    {{ if .Site.Params.rss }}
    {{ with .OutputFormats.Get "RSS" }}
    {{ printf `
    <link href="%s" rel="%s" type="%s" title="%s" />` .Permalink .Rel .MediaType.Type $.Site.Title | safeHTML }}
    {{ end }}
    {{ end }}
    {{ if not hugo.IsServer }}
    {{ if .Site.Config.Services.GoogleAnalytics.ID }}
    {{ template "_internal/google_analytics.html" . }}
    {{ end }}
    {{ end }}
</head>