{{ define "main" }}

<h1>About</h1>

<p>
Machine Learning Engineer @ <a href="https://sun-asterisk.vn/">Sun*</a>. <br/>Nội dung blog này cũng tập trung vào Cloud Computing và Machine Learning nhưng sẽ ngẵn hơn và ít formal hơn bên Viblo. Bên cạnh đó thì thỉnh thoảng sẽ có chút review sách và game nữa nên mình nghĩ rằng nó giống nhật ký hơn là trang blog :v
</p>

<h1>Latest posts</h1>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 5 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>
    {{ end }}
    <a href="/categories">All categories</a>
{{ end }}
</div>
{{ end }}