{{ define "main" }}

<h1>About</h1>

<p>
Machine Learning Engineer at <a href="https://sun-asterisk.vn/">Sun*</a>. I usually focus on learning about Cloud Computing and sometimes I will learn a little more about data. 
However, coding is not my whole life so I will write a little more about my two main hobbies: playing games and reading books. :v
</p>

<h1>Latest posts</h1>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 5 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>
    {{ end }}
    <a href="/posts">Older posts</a>
{{ end }}
</div>


{{ end }}