{{ define "main" }}
<h1>{{ .Page.Title }}</h1>
{{ .Content }}
<style>
    img {
        float: left;
        margin: 5px;
        width: 40% !important;
    }

    p {
        text-align: justify;
    }

    .book-grid {
        display: grid;
        grid-template-rows: auto;
        display: grid;
        grid-gap: 1em;
    }

    .book-section {
        display: flex;
        align-items: center;
        flex-basis: 100%;
    }

    @media screen and (max-width: 500px) {
        .book-section {
            flex-direction: column;
        }

        img {
            width: 100% !important;

        }
    }
</style>
<div class="book-grid">
    {{ range .Params.books }}
    <div class="book-section">
        <img src="{{ .image }}" title="{{ .name }}"></img>
        <div>
            <b>{{ .name }} - {{ .author }}</b>
            <p>{{ .review }}</p>
        </div>
    </div>
    {{ end }}
</div>
{{ end }}